.navbar {
  background-color: lightgrey;
}

.navbar-brand a {
  text-decoration: none;
}

.nav-item {
  border-bottom: 1px solid grey;
  color: brown;
}

#content {
  height: 1000px;
  background-color: darkgrey;
}

#page-header {
  margin-top: 10px;
  margin-bottom: 10px;
  color: cornflowerblue;
}

@media (max-width: 576px) {
  #content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}